@font-face {
  font-family: AgencyFB;
  src: url(font/AGENCYB.TTF);
}

#box {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

#spaceesc {
  font-size: 2em;
  position: fixed;
  bottom: 0;
  margin-bottom: 2em;
}

#namebox {
  font-size: 12.5em;
}

body {
  margin: 0;
  background: linear-gradient(150deg, #5f614e, #8b9d12, #b4cf02);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

* {
  font-family: AgencyFB, sans-serif;
  color: white;
}

#home {
  width: 28px;
  padding: 6.7px;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  margin: 10px;
  transition: all 0.2s ease;
}

#home:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#home:active {
  background-color: rgba(0, 0, 0, 0.26);
}

h2 {
  font-size: 80px;
  margin: 0;
  margin-top: 8px;
}

#timer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
  margin-top: 2%;
}

#time {
  padding: 20px;
  font-size: 8em;
}

#divtime {
  padding: 2%;
  padding-top: 3px;
  padding-bottom: 4%;
}

#stoptimer {
  font-size: 2.5em;
}

#all {
  display: flex;
  height: 80%;
  flex-direction: column;
  align-items: center;
}

#information {
  display: flex;
  align-items: center;
  width: 75%;
}

#stops,
#timerstop {
  margin: 2%;
  font-size: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes blink {
  0%,
  100% {
    background-color: red;
    text-decoration: underline;
  }
  50% {
    background-color: black;
    text-decoration: none;
  }
}

@media screen and (max-width: 1560px) {
  #stoptimer {
    font-size: 2.2em;
  }
}
