@font-face {
  font-family: AgencyFB;
  src: url(font/AGENCYB.TTF);
}

* {
  color: white;
}

body {
  font-family: AgencyFB, "sans-serif";
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(130deg, #383838, #8e8e8e, #808080);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 4em;
  text-decoration: underline;
  text-shadow: 4px 4px 7.5px black;
}

#form {
  margin-top: 5%;
  height: 50%;
  font-size: 1.7em;
  width: 40%;
  margin-bottom: 50px;
  font-style: italic;
  margin-left: 6%;
}

input {
  margin: 5px;
  width: 15%;
  font-size: large;
  font-family: AgencyFB, "sans-serif";
  padding: 5px;
  border-radius: 5px;
  border-color: black;
  box-shadow: 1px 1px 3px black;
  background-color: rgba(0, 0, 0, 0.4);
}

#submit {
  padding: 10px;
  width: 20%;
  font-family: AgencyFB, "sans-serif";
  font-size: large;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 3px 3px 0 black;
  transition: 0.2s ease;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: crosshair;
}

#submit:hover {
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  border-color: white;
  box-shadow: 5px 5px 0 white;
}

#submit:active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 0 white;
  color: black;
  border-color: white;
  cursor: crosshair;
}

footer {
  background-color: rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: end;
  padding-right: 2%;
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#warning-link {
  margin-top: 0.75%;
}

#warning {
  margin-top: 1.2%;
  color: #ff7839;
  transition: all 0.2s ease;
}

footer > p {
  margin-left: 10px;
  margin-right: 10px;
}

#svg-warning:hover > #warning {
  animation: rgb-border 1.3s infinite;
}

@keyframes rgb-border {
  0% {
    color: rgb(255, 30, 30);
  }
  33% {
    color: rgb(30, 129, 30);
  }
  66% {
    color: rgb(30, 30, 255);
  }
  100% {
    color: rgb(255, 30, 30);
  }
}
